.popap {
   position: fixed;
   width: 0;
   height: 0;
   opacity: 0;
   transition: opacity 0.5s ease;
   overflow: hidden;
}

.popap.active { 
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   margin: 0px auto;
   
   display: flex;
   align-items: center;
   justify-content: center;

   background-color: rgba(41, 41, 41, 0.6);
   overflow:scroll;
   z-index: 25;
   opacity: 1;
   transition: opacity 0.5s ease;
}

.popap__block {
   position: relative;

   margin: 52px;
   max-width: 900px;
   max-height: 500px;

   @media (max-width: $breakpoint_tablet) {
      max-width: 630px;
      max-height: 350px;
   }

   @media (max-width: $breakpoint_mobile) {
      margin: 40px;
   }
   
}

button.popap__x {
   position: absolute;
   top: -52px;
   right: -42px;
   z-index: 28;
   @media (max-width: $breakpoint_mobile) {
      right: -30px;
   }
}



.pet_card {

}
.popap__content.pet_card {
   display: flex;
   justify-content: space-between;
   gap: 9px;
   background-color: $color-light-s;   
   overflow: hidden;
   border-radius: 9px;
   box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
   
   font-family: 'Georgia Regular';
   font-size: 15px;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: #000000;
   @media (max-width: $breakpoint_tablet) {
      font-size: 13px;
      
      gap: 0px;
   }



}


#pet_photo{
   min-width: calc((500*100%)/900);
   @media (max-width: $breakpoint_tablet) {
      min-width: calc((350*100%)/630);
   }
   display: flex;
   justify-content: center;
   align-items: center;
   img {
      width: 100%;
   }
   @media (max-width: $breakpoint_mobile) {
      display: none;
   }
}

.pet_description {
   margin: 50px 20px;
   @media (max-width: $breakpoint_tablet) {
      margin: 10px 9px 10px 10px;
   }

}


#pet_name {
   font-size: 35px;
   line-height: 130%;
   margin-bottom: 10px;
   letter-spacing: 0.06em;

   @media (max-width: $breakpoint_mobile) {
      text-align: center;
   }
}

#type_and_breed {
   margin-bottom: 40px;
   @media (max-width: $breakpoint_tablet) {
      margin-bottom: 20px;
   }
   @media (max-width: $breakpoint_mobile) {
      text-align: center;
   }
}

#description {
   margin-bottom: 40px;
   @media (max-width: $breakpoint_tablet) {
      margin-bottom: 20px;
   }
   @media (max-width: $breakpoint_mobile) {
      text-align: justify;
   }
}

.additional_information {
   li {
      list-style: disc;
      color: $color-primary;
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      margin-left: 14px;

      &:not(:last-of-type) {
         margin-bottom: 12px;
         @media (max-width: $breakpoint_tablet) {
            margin-bottom: 6px;
         }
      }

      span {
         color: #000000;
         &:first-of-type {
            font-family: 'Georgia Bold';
         }
      }
   }
}